<!DOCTYPE html>
<html>
<head>
    <title>Meme Gesture Rank</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

</head>
<body>

<div class="my-class container">
    <div id="idk">a</div>

</div>



<p>gesture <span id="gesture">Gestures</span></p>
<script src="http://js.leapmotion.com/leap-0.6.4.js"></script>
<script>
    var imgs= [ "http://i3.kym-cdn.com/photos/images/newsfeed/001/217/729/f9a.jpg",
    "https://fthmb.tqn.com/f2E0oJLHltGUCxwGiDw8bRkIm08=/768x0/filters:no_upscale()/dicaprio3-583e33155f9b58d5b19e3a00.jpg",
    "https://fthmb.tqn.com/gxyNkKkkTnHBdcQ0G-2Q27BLLas=/400x0/success-56a9fd1f3df78cf772abee09.jpg",
    "https://i.pinimg.com/736x/c5/e8/77/c5e877889a1fea74b5fe02c4003f71a9--teaching-memes-funny-teachers-in-may-meme.jpg",
    "https://media1.popsugar-assets.com/files/thumbor/Jd4nQ83myp6U6gWLzHV8aCkp6Lo/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2015/07/30/615/n/1922153/6f32db66ead6ded2_Screen_Shot_2015-07-29_at_5.21.10_PM/i/Funny-Beauty-Memes.png"]
    var idk = document.getElementById('idk');
    idk.innerHTML = '<img src="' +imgs[0] + '">';
    var controller = new Leap.Controller({
        enableGestures: true,
        frameEventName: 'animationFrame'
    });


    var content = document.getElementById('gesture');
    var count = 0;
    controller.on('deviceFrame', function(frame) {
        // loop through available gestures
        for(var i = 0; i < frame.gestures.length; i++){
            var gesture = frame.gestures[i];
            var type    = gesture.type;

            switch( type ){

                case "circle":
                    if (gesture.state == "stop") {
                        if (count ==0){
                            count = (imgs.length - 1);
                        } else {
                            count--;
                        }
                        console
                        console.log('circle');
                    }
                    break;

                case "swipe":
                    if (gesture.state == "stop") {
                        if (count == imgs.length - 1 ){
                            count = 0;
                        } else {
                            count++;
                        }
                    }
                    break;

                case "screenTap":
                    if (gesture.state == "stop") {
                        console.log('screenTap');
                    }
                    break;

                case "keyTap":
                    if (gesture.state == "stop") {
                        console.log('keyTap');
                    }
                    break;

            }
            console.log(count);
            idk.innerHTML = '<img src="' +imgs[count] + '">'
        }
    });
    controller.connect();
</script>

</body>
</html>
