<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meme Gesture Rank</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body class="">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col col-lg-8">
                    <div class="container">
                        <div id="meme"></div>
                    </div>
                </div>
                <div class="col col-lg-4">
                    <h3>In order to move to another picture, swipe your hand.</h3>
                    <h3>If you want to like our meme, circle your finger around the picture.</h3>
                    <div class="btn-group">
                        <button type="button" id="like-button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-primary"><span id="likes"></span></button>
                    </div>
                </div>
            </div>
            <p class="text-primary bg-primary">Current gesture: <span id="gesture">None</span></p>
        </div>
    </div>
</body>
</div>




<script src="http://js.leapmotion.com/leap-0.6.4.js"></script>
<script>

    var imgs = [];
    var likes = [];
    var ids = [];
    <%for(var i = 0; i < memes.length; i++) { %>
        imgs.push(("<%=memes[i].url%>"));
        likes.push(<%=memes[i].likes%>);
        ids.push('<%=memes[i]._id%>');
    <%} %>
    console.log(ids);
    console.log(imgs);
    console.log(likes);
    var meme = document.getElementById('meme');
    var likes_span = document.getElementById('likes')
    var like_button = document.getElementById('like-button')


    meme.innerHTML = '<img src=\"' +imgs[0] + '\" class=\'img-thumbnail img-rounded\'>'
    likes_span.innerHTML =  likes[0];
    like_button.innerHTML ="<a id=\'liked\' href=\"\/" + ids[0] + "\">like</a>";
    var controller = new Leap.Controller({
        enableGestures: true,
        frameEventName: 'animationFrame'
    });


    // var content = document.getElementById('gesture');
    var count = 0;
    controller.on('deviceFrame', function(frame) {
        // loop through available gestures
        for(var i = 0; i < frame.gestures.length; i++){
            var gesture = frame.gestures[i];
            var type    = gesture.type;

            switch( type ){

                case "circle":
                    if (gesture.state === "stop") {
                        if (count === 0){
                            count = (imgs.length - 1);


                        } else {
                            count--;
                        }
                        console.log("Circle");
                        $('#gesture').html("Circle");
                    }
                    break;

                case "swipe":
                    if (gesture.state === "stop") {
                        if (count === imgs.length - 1 ){
                            count = 0;
                        } else {
                            count++;
                        }
                        console.log("Swipe");
                        $('#gesture').html("Swipe");
                    }
                    break;

                case "screenTap":
                    if (gesture.state === "stop") {
                        console.log('screenTap');
                    }
                    break;

                case "keyTap":
                    if (gesture.state === "stop") {
                        console.log('keyTap');
                    }
                    break;

            }
            //console.log(count);
            meme.innerHTML = '<img src=\"' +imgs[count] + '\" class=\'img-thumbnail img-rounded\'>'
            likes_span.innerHTML =  likes[count];
            like_button.innerHTML ="<a id=\'liked\' href=\"\/" + ids[count] + "\">like</a>";

        }
    });
    controller.connect();
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
